[Unit]
Description=mihomo Daemon, Another Clash Kernel.
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=simple
LimitNPROC=500
LimitNOFILE=1000000
Restart=always
ExecStartPre=/usr/bin/sleep 1s
ExecStart=%h/.local/bin/mihomo -d %h/.config/mihomo
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
